In [2]:
# --- Import Necessary Libraries ---
import pandas as pd
import numpy as np

# --- 1. Load the Data and Display the Raw Table ---
print("="*50)
print("STEP 1: LOADING AND VIEWING THE RAW DATA")
print("="*50)

# Load the CSV file
df = pd.read_csv('data/economic_indicators.csv')

# Display the first 10 rows of the dataframe to see its structure
display(df.head(10))

# --- 2. Basic Data Exploration ---
print("\n" + "="*50)
print("STEP 2: BASIC DATA EXPLORATION")
print("="*50)

# Display the dimensions of the DataFrame (Rows, Columns)
print(f"DataFrame Shape: {df.shape}")

# Get the unique values for the categorical columns
print("\nUnique Countries:", df['Country'].unique())
print("\nUnique Indicators:\n", df['Indicator'].unique())

# --- 3. Data Information and Types ---
print("\n" + "="*50)
print("STEP 3: DATAFRAME INFO (DATA TYPES & MISSING VALUES)")
print("="*50)
# Get a concise summary of the DataFrame including dtypes and non-null counts
df.info()

# --- 4. Summary Statistics for Numerical Columns ---
print("\n" + "="*50)
print("STEP 4: SUMMARY STATISTICS FOR NUMERICAL YEAR COLUMNS")
print("="*50)
# The year columns are our numerical data. This calculates stats for them.
# .T transposes the result for better readability
year_columns = [col for col in df.columns if col.startswith('YR')]
display(df[year_columns].describe().T.round(2))

==================================================
STEP 1: LOADING AND VIEWING THE RAW DATA
==================================================

,Country,Indicator,YR2001,YR2002,YR2003,YR2004,YR2005,YR2006,YR2007,YR2008,...,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022,YR2023
0,Ghana,"Inflation, consumer prices (annual %)",41.509496,9.360932,29.772980,18.042739,15.438992,11.679184,10.734267,16.494640,...,15.489616,17.149970,17.454635,12.371922,7.808765,7.143640,9.887290,9.971089,31.255895,38.106966
1,Cote d'Ivoire,"Inflation, consumer prices (annual %)",4.361529,3.077265,3.296807,1.457988,3.885830,2.467191,1.892006,6.308528,...,0.448682,1.251500,0.723178,0.685881,0.359409,-1.106863,2.425007,4.091952,5.276167,4.387117
2,Kenya,"Inflation, consumer prices (annual %)",5.738598,1.961308,9.815691,11.624036,10.312778,14.453734,9.758880,26.239817,...,6.878155,6.582154,6.297250,8.005650,4.689806,5.239638,5.405162,6.107936,7.659863,7.671396
3,Ghana,"Official exchange rate (LCU per US$, period av...",0.716305,0.792417,0.866764,0.899495,0.905209,0.915107,0.932619,1.052275,...,2.896575,3.714642,3.909817,4.350533,4.585325,5.217367,5.595708,5.805700,8.272400,11.020408
4,Cote d'Ivoire,"Official exchange rate (LCU per US$, period av...",732.397693,693.713226,579.897426,527.338032,527.258363,522.425625,478.633718,446.000041,...,493.757330,591.211698,592.605615,580.656750,555.446458,585.911013,575.586005,554.530675,623.759701,606.569750
5,Kenya,"Official exchange rate (LCU per US$, period av...",78.563195,78.749142,75.935569,79.173876,75.554109,72.100835,67.317638,69.175320,...,87.922164,98.178453,101.504369,103.410005,101.301574,101.991298,106.450780,109.637747,117.865989,139.846384
6,Ghana,Real interest rate (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Cote d'Ivoire,Real interest rate (%),NaN,NaN,NaN,NaN,5.763991,3.331831,1.613290,-0.368944,...,0.891701,0.361233,6.552137,6.246748,NaN,NaN,NaN,NaN,NaN,NaN
8,Kenya,Real interest rate (%),17.812501,17.358141,9.770511,5.045258,7.609988,-8.009867,4.819091,-0.984997,...,8.249079,6.268806,10.118129,5.656748,8.487960,7.831101,6.714634,7.427581,5.968447,6.546517
9,Ghana,Average precipitation in depth (mm per year),1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,...,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,NaN,NaN

==================================================
STEP 2: BASIC DATA EXPLORATION
==================================================
DataFrame Shape: (27, 25)

Unique Countries: ['Ghana' "Cote d'Ivoire" 'Kenya']

Unique Indicators:
 ['Inflation, consumer prices (annual %)'
 'Official exchange rate (LCU per US$, period average)'
 'Real interest rate (%)' 'Average precipitation in depth (mm per year)'
 'Deposit interest rate (%)' 'Lending interest rate (%)'
 'Interest rate spread (lending rate minus deposit rate, %)'
 'Fossil fuel energy consumption (% of total)' 'Unemployment rate']

==================================================
STEP 3: DATAFRAME INFO (DATA TYPES & MISSING VALUES)
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    27 non-null     object
 1   Indicator  27 non-null     object
 2   YR2001     20 non-null     float64
 3   YR2002     20 non-null     float64
 4   YR2003     20 non-null     float64
 5   YR2004     20 non-null     float64
 6   YR2005     24 non-null     float64
 7   YR2006     24 non-null     float64
 8   YR2007     24 non-null     float64
 9   YR2008     24 non-null     float64
 10  YR2009     24 non-null     float64
 11  YR2010     24 non-null     float64
 12  YR2011     24 non-null     float64
 13  YR2012     24 non-null     float64
 14  YR2013     24 non-null     float64
 15  YR2014     24 non-null     float64
 16  YR2015     21 non-null     float64
 17  YR2016     21 non-null     float64
 18  YR2017     21 non-null     float64
 19  YR2018     17 non-null     float64
 20  YR2019     17 non-null     float64
 21  YR2020     17 non-null     float64
 22  YR2021     17 non-null     float64
 23  YR2022     14 non-null     float64
 24  YR2023     14 non-null     float64
dtypes: float64(23), object(2)
memory usage: 5.4+ KB

==================================================
STEP 4: SUMMARY STATISTICS FOR NUMERICAL YEAR COLUMNS
==================================================

        count    mean     std    min   25%    50%     75%      max
YR2001   20.0  210.84  415.66   0.72  6.41  18.74   50.77  1348.00
YR2002   20.0  206.49  414.34   0.79  5.51  15.94   48.07  1348.00
YR2003   20.0  201.03  407.90   0.87  7.26  13.66   46.56  1348.00
YR2004   20.0  196.94  406.19   0.90  5.71  13.08   47.48  1348.00
YR2005   24.0  164.78  376.38  -0.56  5.80   8.98   28.44  1348.00
YR2006   24.0  163.55  376.64  -8.01  4.39   8.69   26.85  1348.00
YR2007   24.0  161.94  374.80  -3.06  4.80   8.54   29.63  1348.00
YR2008   24.0  161.54  373.28  -3.14  5.10  10.00   30.42  1348.00
YR2009   24.0  162.34  374.28 -10.10  4.66   9.04   28.54  1348.00
YR2010   24.0  163.81  375.00  -3.27  4.41  10.27   29.84  1348.00
YR2011   24.0  162.99  374.14  -3.24  4.82   8.82   28.11  1348.00
YR2012   24.0  165.23  375.35  -2.95  5.36   9.71   31.66  1348.00
YR2013   24.0  164.28  374.83  -2.37  3.88   8.98   33.12  1348.00
YR2014   24.0  164.38  374.80  -1.92  4.13   8.31   33.01  1348.00
YR2015   21.0  188.46  402.33  -1.84  3.71   6.90   17.15  1348.00
YR2016   21.0  189.09  402.17  -1.63  5.24   7.87   17.45  1348.00
YR2017   21.0  188.01  401.83  -1.35  4.35   6.49   14.06  1348.00
YR2018   17.0  229.19  436.56   0.36  4.59   8.29  101.30  1348.00
YR2019   17.0  230.83  438.14  -1.11  5.01   7.51  101.99  1348.00
YR2020   17.0  230.82  437.35   2.43  5.41   6.97  106.45  1348.00
YR2021   17.0  229.99  436.17   2.59  5.69   7.43  109.64  1348.00
YR2022   14.0   60.58  164.83   2.43  5.41   7.40   12.26   623.76
YR2023   14.0   61.71  160.85   2.40  4.74   8.42   13.05   606.57